{{ define "main" }}
	<div class="page {{- if .Layout }} {{ .Layout }}{{ end }}">
		<div class="container">
			<header class="section section-header">
				<h1 class="title">{{ .Title }} #{{ $.Site.Data.events.edition }} Ediție specială de vară (late night)</h1>
				{{ with $.Site.Data.events }}
					<p class="subtitle">{{ dateFormat "02 Jan 2006 @ 15:04" (printf "%s %s:00" .date .startTime) }}</p>
				{{ end }}
			</header>

			<div class="section">
				<div class="content">
					{{ .Content }}
				</div>

				<!-- <div class="app-list">
					<div class="columns is-mobile is-multiline">
						{{ partial "apps.html" . }}
					</div>
				</div> -->

				{{ partial "form.html" . }}
			</div>
		</div>

	</div>
{{ end }}
