form {
	max-width: round($tablet * 4 / 5);
	margin: 0 auto;

	.is-checkradio {
		&[type='radio'],
		&[type='checkbox'] {
			+ label {
				padding-bottom: 0;
				padding-top: 0;
				margin: 0;
			}
		}
	}

	.submit-container {
		max-width: 310px;
		margin: 0 auto;
	}
}
