.navbar {
	$shadow: rgba($info, .1);

	box-shadow: 0 1px 4px 0 $shadow;
	padding: 0;

	.navbar-item {
		padding: .875rem 1rem;
		font-weight: 300;
		color: $black;
	}

	.brand {
		align-items: center;
		padding: .25rem 1rem;
	}

	.brand-logo {
		margin: 0 .5rem 0 0;
		width: 8.25rem;

		@include mobile {
			width: 6.5rem;
		}

		@include tablet {
			margin: 0 1rem 0 0;
		}
	}

	.brand-title {
		font-size: 1.125rem;
		font-weight: 600;
	}
}
