<div class="card">
	<div class="card-content">
		<div class="columns is-vcentered">
			<div class="column">
				<div class="media is-vcentered">
					<div class="media-left">
						<figure class="image is-64x64">
							{{ if (fileExists (printf "theme/images/city-labs/%s.svg" .Params.lab)) }}
								<img src="{{ (printf "images/city-labs/%s.svg" .Params.lab) | relURL }}" alt="{{ .Title }}" class="svg-fallback">
							{{ else }}
								<img src="{{ "images/code4romania.svg" | relURL }}" alt="{{ .Title }}" class="svg-fallback">
							{{ end }}
						</figure>
					</div>
					<div class="media-content">
						<div class="content">
							<h1 class="title is-size-5-touch is-size-4-desktop has-text-black">{{ .Title }}</h1>
							<p class="subtitle is-size-6-touch is-size-5-desktop has-text-black">
								<span class="location is-block">{{ .Params.location }}</span>
								<span class="time is-block">{{ $.Site.Data.events.startTime }}</span>
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="column is-narrow has-text-right content">
				<a href="{{ (printf "/hackday/?where=%s" .Params.lab) | relLangURL }}" class="button is-success is-fullwidth">{{ i18n "event.rsvp" }}</a>
				{{ with .OutputFormats.Get "Calendar" }}
					<a href="{{ .RelPermalink | safeURL }}" class="is-size-7" download>{{ i18n "event.calendar" }}</a>
				{{ end }}
			</div>
		</div>
	</div>
</div>
