<!-- Sponsors -->
<aside class="partners section has-background-light">
	<div class="container">
		<h1 class="subtitle has-text-centered has-text-weight-bold">{{ i18n "sponsors" }}</h1>
		<div class="columns is-mobile is-multiline is-centered">
			{{ range $.Site.Data.sponsors }}
			<div class="column is-three-quarters-touch is-2-desktop">
				<a href="{{ .url }}" target="_blank" rel="noopener" class="app-brand link">
					<div class="logo-container">
						<img src="{{ (printf "images/sponsors/%s.png" .id) | absURL }}" alt="{{ .name }}">
					</div>
				</a>
			</div>
			{{ end }}
		</div>
	</div>
</aside>

<!-- Local sponsors -->
{{ $cities := (slice "București" "Iași" "Timișoara" "Cluj-Napoca") }}
{{ range $city := $cities }}
{{ range $elem_key, $elem_val := $.Site.Data.local_sponsors }}
{{ if eq $elem_key $city }}
{{ if $elem_val.sponsors }}
<aside class="partners section has-background-light is-paddingless" id="{{ printf "sponsors_%s" $elem_val.id }}">
	<div class="container">
		<h1 class="subtitle has-text-centered has-text-weight-bold">
			{{ printf "%s %s" (i18n "local.sponsors") $elem_key }}</h1>
		
		<div class="columns is-mobile is-multiline is-centered" id="{{ printf "sponsors_%s" $elem_val.id }}">
			{{ range $elem_val.sponsors }}
			<div class="column is-three-quarters-touch is-2-desktop">
				<a href="{{ .url }}" target="_blank" rel="noopener" class="app-brand link">
					<div class="logo-container">
						<img src="{{ (printf "images/sponsors/%s.png" .id) | absURL }}" alt="{{ .name }}">
					</div>
				</a>
			</div>
			{{ end }}
		</div>
		
	</div>
</aside>
{{ end }}
{{ end }}
{{ end }}
{{ end }}


<!-- Partners - main page -->
<aside class="partners section has-background-light" id="partners_all">
	<div class="container">
		<h1 class="subtitle has-text-centered has-text-weight-bold">{{ i18n "partners" }}</h1>
		<div class="columns is-mobile is-multiline">
			{{ range $.Site.Data.partners }}
			<div class="column is-4-touch">
				<a href="{{ .url }}" target="_blank" rel="noopener" class="app-brand link">
					<div class="logo-container">
						<img src="{{ (printf "images/partners/%s.png" .id) | absURL }}" alt="{{ .name }}">
					</div>
				</a>
			</div>
			{{ end }}
		</div>
	</div>
</aside>

<!-- Local partners -->
{{ $cities := (slice "București" "Iași" "Timișoara" "Cluj-Napoca") }}
{{ range $city := $cities }}
{{ range $elem_key, $elem_val := $.Site.Data.local_partners }}
{{ if eq $elem_key $city }}
<aside class="partners section has-background-light" id="{{ printf "partners_%s" $elem_val.id }}">
	<div class="container">
		<h1 class="subtitle has-text-centered has-text-weight-bold">{{ i18n "partners" }}</h1>
		<div class="columns is-mobile is-multiline is-centered">
			{{ range $elem_val.partners }}
			<div class="column is-three-quarters-touch is-2-desktop">
				<a href="{{ .url }}" target="_blank" rel="noopener" class="app-brand link">
					<div class="logo-container">
						<img src="{{ (printf "images/partners/%s.png" .id) | absURL }}" alt="{{ .name }}">
					</div>
				</a>
			</div>
			{{ end }}
		</div>

	</div>
</aside>
{{ end }}
{{ end }}
{{ end }}

<!-- Footer -->
<footer class="footer">
	<div class="container">
		<div class="columns">
			<div class="column is-4 copy">
				<h2>A project by</h2>
				<a href="{{ .Site.Params.url }}" class="brand">
					<img src="{{ "images/code4romania-full-gray.svg" | absURL }}" class="logo svg-fallback"
						alt="{{ .Site.Params.by }}">
				</a>
				<p>{{ .Site.Params.copy }}</p>
				<div class="social">
					{{ range .Site.Menus.social }}
					<a href="{{ .URL }}" class="icon" target="_blank">
						<i class="fab fa-fw fa-{{ .Name }}" aria-hidden="true"></i>
					</a>
					{{ end }}
				</div>
			</div>
			<div class="column is-4">
				<div class="columns">
					<ul class="column footer-links">
						<li class="links-header">Links</li>
						{{ range .Site.Menus.navigation }}
						<li class="links-item">
							<a href="{{ .URL }}">
								{{ .Name }}
							</a>
						</li>
						{{ end }}
					</ul>
				</div>
			</div>
		</div>
	</div>
</footer>