{{/* Powered By */}}
<aside class="partners section has-background-light">
	<div class="container">
		<h1 class="subtitle has-text-centered has-text-weight-bold">{{ i18n "poweredby" }}</h1>
		<div class="columns is-mobile is-multiline is-centered">
			{{ range $.Site.Data.poweredby }}
			<div class="column is-three-quarters-touch is-2-desktop">
				<a href="{{ .url }}" target="_blank" rel="noopener" class="app-brand link">
					<div class="logo-container">
						<img src="{{ (printf "images/poweredby/%s.png" .id) | relURL }}" alt="{{ .name }}">
					</div>
				</a>
			</div>
			{{ end }}
		</div>
	</div>
</aside>

<!-- Sponsors -->
<aside class="partners section has-background-light">
	<div class="container">
		<h1 class="subtitle has-text-centered has-text-weight-bold">{{ i18n "sponsors" }}</h1>
		<div class="columns is-mobile is-multiline is-centered">
			{{ range $.Site.Data.sponsors }}
			<div class="column is-three-quarters-touch is-2-desktop">
				<a href="{{ .url }}" target="_blank" rel="noopener" class="app-brand link">
					<div class="logo-container">
						<img src="{{ (printf "images/sponsors/%s.png" .id) | relURL }}" alt="{{ .name }}">
					</div>
				</a>
			</div>
			{{ end }}
		</div>
	</div>
</aside>

<!-- Local sponsors -->
{{ $cities := (slice "București" "Iași" "Timișoara" "Cluj-Napoca" "Sibiu") }}
{{ range $city := $cities }}
{{ range $elem_key, $elem_val := $.Site.Data.local_sponsors }}
{{ if eq $elem_key $city }}
{{ if $elem_val.sponsors }}
<aside class="partners section has-background-light is-paddingless" id="{{ printf "sponsors_%s" $elem_val.id }}">
	<div class="container">
		<h1 class="subtitle has-text-centered has-text-weight-bold">
			{{ printf "%s %s" (i18n "local.sponsors") $elem_key }}
		</h1>

		<div class="columns is-mobile is-multiline is-centered" id="{{ printf "sponsors_%s" $elem_val.id }}">
			{{ range $elem_val.sponsors }}
			<div class="column is-three-quarters-touch is-2-desktop">
				<a href="{{ .url }}" target="_blank" rel="noopener" class="app-brand link">
					<div class="logo-container">
						<img src="{{ (printf "images/sponsors/%s.png" .id) | relURL }}" alt="{{ .name }}">
					</div>
				</a>
			</div>
			{{ end }}
		</div>
	</div>
</aside>
{{ end }}
{{ end }}
{{ end }}
{{ end }}


<!-- Partners - main page -->
<aside class="partners section has-background-light" id="partners_all">
	<div class="container">
		<h1 class="subtitle has-text-centered has-text-weight-bold">{{ i18n "partners" }}</h1>
		<div class="columns is-mobile is-multiline">
			{{ range $.Site.Data.partners }}
			<div class="column is-4-touch">
				<a href="{{ .url }}" target="_blank" rel="noopener" class="app-brand link">
					<div class="logo-container">
						<img src="{{ (printf "images/partners/%s.png" .id) | relURL }}" alt="{{ .name }}">
					</div>
				</a>
			</div>
			{{ end }}
		</div>
	</div>
</aside>

<!-- Footer -->
<footer class="footer">
	<div class="container">
		<div class="columns">
			<div class="column is-2 copy">
				<h2>A project by</h2>
				<a href="{{ .Site.Params.url }}" class="brand">
					<img src="{{ "images/code4romania-full-gray.svg" | relURL }}" class="logo"
						alt="{{ .Site.Params.by }}">
				</a>
				<p>{{ .Site.Params.copy }}</p>
				<div class="social">
					{{ range .Site.Menus.social }}
					<a href="{{ .URL }}" class="icon" target="_blank">
						<i class="fab fa-fw fa-{{ .Name }}" aria-hidden="true"></i>
					</a>
					{{ end }}
				</div>
			</div>
			<div class="column is-2">
				<div class="columns">
					<ul class="column footer-links">
						<li class="links-header">Linkuri utile</li>
						<li class="links-item">
							<a href="https://code4.ro/ro/termeni-si-conditii">
								Termeni și condiții
							</a>
						</li>
						<li class="links-item">
							<a href="https://code4.ro/ro/politica-de-cookies">
								Politica de cookies
							</a>
						</li>
						<li class="links-item">
							<a href="https://code4.ro/ro/codul-de-conduita">
								Codul de conduită
							</a>
						</li>
						<li class="links-item">
							<a href="mailto:contact@code4.ro">
								Contactează-ne
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="column is-2">
				<div class="columns">
					<ul class="column footer-links">
						<li class="links-header">Susține-ne</li>
						<li class="links-item">
							<a href="https://code4.ro/ro/doneaza">
								Donează
							</a>
						</li>
						<li class="links-item">
							<a href="https://code4.ro/ro">
								Abonează-te
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="column is-2">
				<div class="columns">
					<ul class="column footer-links">
						<li class="links-header">Urmărește-ne</li>
						<li class="links-item">
							<a href="https://www.facebook.com/code4romania/" rel="noreferrer noopener">
								Facebook
							</a>
						</li>
						<li class="links-item">
							<a href="https://www.linkedin.com/authwall?trk=gf&trkInfo=AQGCeFczJvdfrgAAAXYGPuWQRd0eHy7XhVw56tvdpl4hs6o6kVQ2PslQWAOTPUbGt1EGPT0flHCXhlDddQy1IgiugL_8A6P83FeAG2Ett437esFBRW2MqwTfNfaYjbP_56vk0P8=&originalReferer=&sessionRedirect=https%3A%2F%2Fwww.linkedin.com%2Fcompany%2Fcode4romania%2F"
								rel="noreferrer noopener">
								LinkedIn
							</a>
						</li>
						<li class="links-item">
							<a href="https://www.instagram.com/code4romania/" rel="noreferrer noopener">
								Instagram
							</a>
						</li>
						<li class="links-item">
							<a href="https://twitter.com/Code4Romania" rel="noreferrer noopener">
								Twitter
							</a>
						</li>
						<li class="links-item">
							<a href="https://github.com/code4romania/" rel="noreferrer noopener">
								GitHub
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</footer>
