<nav class="navbar">
	<div class="container">
		<div class="navbar-brand">
			<a class="navbar-item brand is-flex" href="{{ "/" | absLangURL }}">
				<img src="{{ "images/logo.png" | relURL }}" class="brand-logo" alt="{{ .Site.Title }}">
			</a>
			<a role="button" class="navbar-burger" data-target="header-menu" aria-label="menu" aria-expanded="false">
				<span aria-hidden="true"></span>
				<span aria-hidden="true"></span>
				<span aria-hidden="true"></span>
			</a>
		</div>
		<div id="header-menu" class="navbar-menu">
			<div class="navbar-end has-text-centered-touch">
				{{ range .Site.Menus.navigation }}
					<a class="navbar-item" href="{{ .URL }}">
						{{ .Name }}
					</a>
				{{ end }}

				{{ range .Translations }}
					{{ if ne $.Site.Language .Language }}
						<a class="navbar-item is-uppercase has-text-primary" href="{{ .Permalink }}" hreflang="{{ .Language }}">
							{{ .Language }}
						</a>
					{{ end }}
				{{ end }}
			</div>
		</div>
	</div>
</nav>
